body {
    #background: #e0e0e0;
    background: lightblue;
}

.main {
    background: #e0e0e0;
    margin: 5% 10% 10% 10%;
    text-align: center;
    border: 1px solid black;
    #height: 400px;
    #border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.text-left {
    text-align: left;
}
.right {
    float: right;
}

.left {
    float: left;
}


.menu {
    padding: 5%;
}

.footer {
    margin-top: 10%;
    background: white;
}

a:hover{
    font-weight: bold;
}

.carousel {
    margin-top: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin-bottom: 15px;
}