{% load staticfiles %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pulci/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pulci/pin.css' %}" />
</head>
<script>
    function vote(id) {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById("counter1"+id).innerHTML = xmlhttp.responseText;
                document.getElementById("counter2"+id).innerHTML = xmlhttp.responseText;

                 img = document.getElementById("img1"+id);
                 img.onclick = ""; img.onmouseover = ""; img.onmouseout = "";

                 img = document.getElementById("img2"+id);
                 img.onclick = ""; img.onmouseover = ""; img.onmouseout = "";

                standart_cursor();
                }
         }
         url = 'vote' + id
         xmlhttp.open('GET', url, true)
         xmlhttp.send()
    }

    function change_cursor() {
        document.getElementsByTagName("body")[0].style.cursor = 'pointer';
    }

    function standart_cursor() {
        document.getElementsByTagName("body")[0].style.cursor = 'auto';
    }


    var current_modal = null;

    function show(id) {
        if (current_modal) {
             current_modal.style.display = "none";
             }
        modal = document.getElementById("detail"+id);
        modal.style.display = "block";
        current_modal = modal;
     }

     function close_modal(id) {
        modal = document.getElementById("detail"+id);
        modal.style.display = "none";
        current_modal = null;
     }

     function switch_from_to(from, to) {
        close_modal(from);
        show(to);
        current_modal = to;
     }

</script>
<body>
<div id="fb-root"></div>
<!--
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
    <nav class="navbar navbar-default">

        <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#main_navbar"
                    aria-expanded="false">
                Menu
            </button>
        </div>

        <div class="collapse navbar-collapse" id="main_navbar">
            <ul class="nav navbar-nav">
                <li><a href="../">Home</a></li>
                <li class="active"><a href="">Hlášky našich pulečků</a></li>
                <li><a href="../bookmarks">Bookmarks</a></li>
                <li><a href="">Keramická galerie</a></li>
            </ul>
        </div>
        </div>
    </nav>


<header>
    <span class="left"><h1 id="header"> Veselé hlášky našich pulců </h1></span>
    <span class="right">
        <form action="" method="get">
            <select  name="sort_type" id="select_sort" onchange="this.form.submit()">
                {% if sort_type == "likes" %}
                <option value="likes" selected="selected">
                {% else %}
                <option value="likes">
                {% endif %}
                Řadit od nejlepších</option>
                {% if sort_type == "date" %}
                <option value="date" selected="selected">
                {% else %}
                    <option value="date">
                {% endif %}
                    Řadit dle data</option>
            </select>
            <select name="who" id="select_who" onchange="this.form.submit()">
                {% if who == "X" %}<option value="X" selected="selected">
                {% else %} <option value="X">{% endif %}
                    Obě </option>
                {% if who == "M" %} <option value="M" selected="selected">
                {% else %} <option value="M"> {% endif %}
                    Menší </option>
                {% if who == "V" %} <option value="V" selected="selected">
                {% else %} <option value="V"> {% endif %}
                    Větší </option>
                {% if who == "VM" %} <option value="VM" selected="selected">
                {% else %} <option value="VM"> {% endif %}
                    Sestry </option>
            </select>
            <select name="year" id="select_year" onchange="this.form.submit()">
                {% if year == "all" %} <option value="all" selected="selected">
                {% else %} <option value="all"> {% endif %}
                    Všechno
                {% for y in years %}
                    {% if year == y %} <option value="{{ y }}" selected="selected">
                    {% else %} <option value="{{ y }}"> {% endif %}
                    {{ y }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </span>
</header>
<div class="container main">
    {%  if citation_list %}
    <div class="row">
        <section id="pinBoot">
        {% for cit, votable, previous, next in citation_list %}
        <article class="white-panel">

    <!--- modal window -->

            <div class="modal" id="detail{{ cit.id }}">
        <div class="modalheader">
        <span class="leftarrow" onclick="switch_from_to({{ cit.id }}, {{ previous }})"
            onmouseover="change_cursor()" onmouseout="standart_cursor()"> < </span>
        <span class="rightarrow" onclick="switch_from_to({{ cit.id }}, {{ next }})"
            onmouseover="change_cursor()" onmouseout="standart_cursor()">></span>
        </div>
        <div class="modalcontent">
           {{ cit.text | linebreaks }}
        </div>
        <div class="modalinfo">
            <small style="color: blue">(<span style="color:red"> {{cit.get_who_display }}</span>, {{ cit.date }})
                    {% if not votable %}
                        <img src="{% static 'pulci/img/thumbup.gif' %}" width="50px"/>
                    {% else %}
                        <img id="img1{{ cit.id }}" class="button" src="{% static 'pulci/img/thumbup.gif' %}" width="50px"
                             onclick="vote( {{ cit.id }}, 1 )" onmouseover="change_cursor()" onmouseout="standart_cursor()"/>
                    {% endif %}
                    <span id="counter1{{ cit.id }}">{{ cit.likes }}</span> </small>
        <br>
        <div class="fb-like" data-href="http://127.0.0.1:8000/pulci/" data-width="50" data-layout="standard" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        </div>
            <span style="float:right"><button onclick="close_modal({{ cit.id }})" onmouseover="change_cursor()" onmouseout="standart_cursor()"> Zavřít </button></span>
    </div>


    <!---- boxes with citations -->

            <div class="info">
                <small style="color: blue">(<span style="color:red"> {{cit.get_who_display }}</span>,
                    {{ cit.date | date:'d. m. Y' }})
                    {% if not votable %}
                        <img src="{% static 'pulci/img/thumbup.gif' %}" width="25%"/>
                    {% else %}
                        <img id="img2{{ cit.id }}" class="button" src="{% static 'pulci/img/thumbup.gif' %}" width="50px"
                             onclick="vote( {{ cit.id }}, 2)" onmouseover="change_cursor()" onmouseout="standart_cursor()"/>
                    {% endif %}
                    <span id="counter2{{ cit.id }}">{{ cit.likes }}</span> </small>
                    <img src="{% static 'pulci/img/lupa.png' %}" width="30px"
                         onclick="show({{ cit.id }})" onmouseover="change_cursor()" onmouseout="standart_cursor()"/>
            </div>
                 <hr>
                 {{ cit.text | linebreaks }}
        </article>
        {% endfor %}
        </section>
        </div>
    {% endif %}
</div>
<div class="footer">
        (c) Petra Vidnerová
        <span class="left"><img src="{% static 'main/img/django.jpg' %}" width="100em"/>
            <a href="http://www.toplist.cz/"><script language="JavaScript" type="text/javascript">
<!--
document.write('<img src="https://toplist.cz/count.asp?id=1729530&logo=btn&http='+escape(document.referrer)+'&t='+escape(document.title)+
'" width="80" height="15" border=0 alt="TOPlist" />');
//--></script><noscript><img src="https://toplist.cz/count.asp?id=1729530&logo=btn" border="0"
alt="TOPlist" width="80" height="15" /></noscript></a>
        </span>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pulci/js/pin.js' %}"></script>
</body>
</html>
