body {
 #background: #31cfcf;
 background: lightblue;
}

h1 {
    #text-align: center;
    font-variant: small-caps;
}

.box {
    float: left;
    padding: 1em;
    background: #e0e0e0;
    #background: #31cfcc;
    border: 1pt black solid;
    margin: 0.5%;
    #width: 250px;
    width: 27%;
    height: 200px;
    overflow: auto;
}

.footer {
    margin-top: 10%;
    background: white;
    clear: both;
    text-align: center;
}
.right {
    float: right;
}

.left {
    float: left;
}

.fb-like {
    padding: 10px;
}

.info {
    float: down;
}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 1px solid black;
}


.header {
    padding-left: 10%;
    padding-right: 10%;
}

.main {
    clear: both;
    padding-left: 10%;
    padding-right: 10%;
}

.detail {
    padding: 5% 20%;
}
.container {
    border: 1px solid black;
    background: #e0e0e0;
}

.detailbox {
    padding: 10% 10% 0% 10%;
    margin-bottom: 0px;
}

.lowerbox {
    padding: 10% 10% 1% 10%;
    text-align: right;
    margin-top: 0px;
}

a:hover{
    font-weight: bold;
}

a {
    color: black;
    text-decoration: none;
}

button {
    font-weight: bold;
    background: #e0e0e0;
}

.modal {
    display: none;
    z-index: 1;
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    position: fixed;
    left: 25%;
    top: 10%;
    overflow: auto;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.modalheader {
    padding-bottom: 10px;
}

.modalcontent {
    padding: 10%;
}

.modalinfo {
    padding-left: 10%;
}

.leftarrow {
    font-weight: bold;
    float: left;
}

.rightarrow {
    font-weight: bold;
    float: right;
}